@media only screen and (max-width: 60em) {
body {
	display: grid;
	grid-template-columns: 12em 12em 12em 12em 12em;
	width: 60em;
	grid-template-areas:
    'header header header header header '
	'nav nav nav nav nav'
    'section section section section section '
    'footer footer footer footer footer ';
	background-color: #EDEFF0;
	padding: 10px;
	gap: 10px;
}

aside{
	display: none;
}
}

@media only screen and (max-width: 30em) {


nav {
    display: flex;
    padding: 0px 0px 10px 10px;
    flex-direction: column;
    align-items: flex-start;
    user-select: none;
	background-color: black;
}

nav input {
    display: none;
}


.hamburger {
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	display: none;
}

nav input ~ ul li {
    max-height: 0;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.hamburger::after {
    position: relative;
    top: -2px;
    content: "\2630";
    font-size: 30px;
    cursor: pointer;
    transition: all .3s ease-in-out;
	color: white;
}

nav input:checked ~ .hamburger::after {
    content: "\2715";
    font-size: 29px;
}

nav input:checked ~ ul li {
    min-height: 0.8em;
    padding: 0.5em;
    opacity: 1;
    margin: 0px 0px 5px 10px;
}

nav input ~ ul li a {
    display: none;
}

nav input:checked ~ ul li a {
    display: block;
}

nav input:checked ul::after {
	background-color: white;
}

nav input:checked ul li::after {
    display: block;
	width: 100%;
}

]